<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/fcd5c4d5-7a80-4a51-aedd-9a59a79f1a07/resourcegroups/DefaultResourceGroup-WUS/providers/Microsoft.ContainerRegistry/registries/RunnerGame20230313152014</ResourceId>
    <ResourceName>RunnerGame20230313152014</ResourceName>
    <ResourceGroup>DefaultResourceGroup-WUS</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>runnergame20230313152014.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>